.select2-selection__choice{
    position: relative;
    font-size: .8125rem;
    border-radius: .25rem;
    padding: .395rem .625rem;
    cursor: default;
    line-height: .875;
    float: left;
    font-weight: 500;
}
.select2-container--default.select2-container--focus .select2-selection{
    border-color: #7367f0 !important;
}
.select2-selection{
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    background-color: #fff;
    border: 1px solid #dbdade;
    border-radius: .375rem;
}
.select2-selection__rendered{
    padding: 0 .375rem .375rem .375rem;
}
.select2-selection__rendered{
    margin: 0;
    box-sizing: border-box;
    display: block;
    list-style: none;
    width: 100%;
}
.form-select:focus{
    border-color: #7367f0 !important;
}

.select2-container--default{
    outline: 0 !important;
}
.select2-container--default *{
    outline: 0 !important;
}
.select2-search__field{
    box-shadow: none;
    background: rgba(0, 0, 0, 0);
    border: none;
    outline: 0;
    -webkit-appearance: textfield;
}
.select2-search__field{
    box-sizing: border-box;
    border: none;
    font-size: 100%;
    margin-top: 5px;
    padding: 0;
}
.select2-search__field{
    color: #6f6b7d;
}
.select2-selection__choice{
    background: rgba(115, 103, 240, .16) !important;
    color: #7367f0 !important;
}
.select2-selection__choice{
    margin-right: .375rem;
    margin-top: .375rem;
}
.select2-container{
    
}