#kbs-file {
    display: none;
}
.parent-div {
    float: left;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.pointer {
    cursor: pointer;
}
.pull-right {
    float: right;
}

.accordion-button {
  background-color: #e9e9e9;
  padding: 9px 15px;
}
.accordion-button:not(.collapsed) {
  background-color: #e6e4fb;
}
.accordion-body {
  padding: 10px;
}
.ti-filter:hover {
  color: #7367f0;
  transition: .5s;
}







.table-container {
    height: calc(100vh - 100px); /* Adjust the height as needed */
    overflow-y: auto;
  }
  
  .table-footer {
    position: sticky;
    bottom: 0;
    background-color: white;
    border-top: 1px solid #ddd;
    padding: 10px;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
  }
  
  .table {
    width: 100%;
  }
  
  th, td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  

  
  .copyright {
    text-align: center;
    margin-top: 5px;
    color: #888;
    font-size: 12px;
  }
  // body {
  //   overflow: hidden;
  // }
  
  .results {
    // max-height: calc(62vh - 125px); /* Adjust the height as needed */
    overflow-y: auto;
    margin-top: 10px;
  }
  .setting-controls{
    .nav-tabs{
border: solid 1px;
margin: 0;
padding: 0;
border-radius: 20px;
    }
    .nav-tabs .nav-link.active{
        box-shadow: none;
        background: #e7f6ff;
        color: #000;
        border-radius: 20px;
        padding: 4px 8px;
        margin-top: 4px;
        margin-left: 3px;
    }
    .nav .nav-item{
      margin: 0;
      padding: 0;
    }
    .nav-tabs .nav-link{
      margin-bottom: 0px;
    }
  }
  .table-scrollable {
    max-height: calc(88vh - 200px); /* Adjust the height as needed */
    overflow-y: auto;
  }