@import '../../styles/global.scss'; // Import global styles and variables
@import '../../styles/globalStyle.scss';
.card-header {
    display: flex;
    justify-content: space-between;
}
.card-datatable table td{
    padding: 0.2rem 1.25rem;
}
.acation-btns {
    display: flex;
    button:hover {
        color: #7367f0;
    }
}
table {
    display: block;
    overflow-y: auto;
    height: 400px; /* Adjust height as needed */
  }
  
  tbody {
    display: table-row-group;
  }
  
  tfoot {
    position: sticky;
    bottom: 0;
    background-color: #fff; /* Adjust background color as needed */
    z-index: 1;
    border-top: solid 1px;
  }
  




